@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:ital,wght@1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: black;
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 30px;
}

.profil {
  width: 40%;
}

.descriptions {
  width: 40%;
}

.firstName {
  color: #fff;
  font-weight: 200;
  font-size: clamp(1rem, 8vw, 2.5rem);
  text-transform: uppercase;
  display: block;
}

.lastNme {
  color: #ff7613;
  font-weight: 400;
  font-size: clamp(1.5rem, 4vw, 3rem);
  text-transform: uppercase;
  display: block;
}
.profile_title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #ff7613;
}

.social {
  display: flex;
  gap: 40px;
}

.social a {
  text-decoration: none;
}

.social_item {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #727171;
  display: flex;
}

.social_item:hover {
  color: #ff7613;
}

/* .description {
  font-size: 1.2rem;
  color: #727171;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 50vw;
  padding: 20px;
  box-shadow: rgba(247, 245, 245, 0.35) 0px 5px 15px;
  margin-bottom: 80px;
}
.card h2 {
  font-size: 1.5rem;
  color: #ff7613;
  text-transform: uppercase;
  line-height: 2;
}

.card h3 {
  color: #fff;
  line-height: 2;
}

.card p {
  color: #727171;
  line-height: 1.5;
}

/* .Compétences {
  display: flex;
  justify-content: space-between;
} */

.icones {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 40px;
}

.contacts h2 {
  color: #ff7613;
  font-size: 1.5rem;
}
.contacts p {
  color: #727171;
  line-height: 1.5;
  font-size: 1rem;
}

.interets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
